* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.center {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    width: 100%;
    max-width: 100px;
}


.header {
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #212343;
}

.header img {
    margin: 15px;
}

.container-banner {
    padding: 0 2%;
    width: 100%;
    height: 557px;
    background-image: url('../assets/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center {
    height: 100%;
}

.form {
    padding: 15px;
    width: 400px;
    height: calc(100% + 30px);
    top: -15px;
    float: right;
    position: relative;
    border: 08px solid;
    background-color: white;
    border-color: rgba(120, 120, 120, 0.5);
    background-clip: padding-box;
}

.form h2 {
    margin-top: 10px;
    font-weight: normal;
    color: #999999;
    font-size: 21px;
}

.input-container {
    margin-top: 20px;
}

.input-container span, .form p {
    display: inline-block;
    width: 100%;
    color: #bbbbbb;
    font-size: 17px;
}

.form p {
    margin: 20px 0;
}

.input-container input[type=text] {
    padding: 0 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
}

.input-container input[type=text]:focus {
    outline: 0;
}

.form .input-submit-container {
    text-align: center;
}

.form input[type=submit] {
    border: 0;
    width: 280px;
    height: 56px;
    background-color: #363a6d;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.form input[type=submit]:hover {
    background-color: #212343;
}

.container-list {
    padding: 30px;
    margin-top: 140px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    margin-top: 18px;
    color: white;
}

.container-2 {
    padding: 40px 2%;
    background-color: #ddd;
    text-align: center;
}

.container-2 h2 {
    font-weight: normal;
}

.container-2 p {
    width: 100%;
    max-width: 758px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
}

.arrow {
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(../assets/arrow.png);
    background-size: 100% 100%;
}

.section-1 {
    padding: 90px 2%;
}

.section-1 h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section {
    margin-top: 40px;
    text-align: center;
}

.container-single {
    float: left;
    width: 33.3%;
    padding: 30px;
}

.container-single p {
    text-align: justify;
    padding: 10px 10px;
}

.container-single img {
    width: 70px;
}

.footer {
    /* clear: both; */
    padding: 20px 0;
    border-top: 4px solid #ccc;
    text-align: center;
    color: #363a6d;
}

.footer p {
    margin-top: 08px;
}

@media screen and (max-width: 1024px) {
    .header {
        height: auto;
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .header img {
        margin: 0;
    }

    .container-banner {
        padding: 40px 2%;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .form {
        max-width: 400px;
        padding: 10px;
        width: 40%;
        height: 100%;
        float: right;
        top: 0;
    }

    .container-list {
        padding: 30px 0;
        width: 60%;
        float: left;
        max-width: 500px;
        height: auto;
    }

    .input-container input[type=text] {
        width: 100%;
        height: 45px;
    }
    
    .form input[type=submit] {
        max-width: 280px;
        height: 56px;
        width: 100%;
    }
    
}

@media screen and (max-width: 920px) {
    .container-list {
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }
    
    .form {
        margin-top: 30px;
        float: none;
        display: inline-block;
        width: 90%;
    }

    .container-single {
        float: none;
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 30px 0;
    }

    .container-2 {
        padding-left: 5%;
        padding-right: 5%;
    }
}